<h2><%= @task.details %></h2>
<h3><%= @task.completed ? "completed" : "not completed" %></h3>




<p><%= link_to 'edit task', edit_task_path(@task) %></p>

<p><%= link_to 'delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %></p>

<p><%= link_to 'back', tasks_path %></p>
